* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 35%;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative;
}

main .tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  margin-top: 2rem;
}
main .tabs span{
  padding: 0 0.8rem;
   padding-bottom: 0.7rem;
}

main .tabs span:nth-child(2) {
  padding-left: 3.2rem;
}

main .add-items {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

main .add-items input {
  width: 75%;
  padding: 0.8rem 0.5rem;
  border: 1px solid #BDBDBD;
  border-radius: 12px;
}

main .add-items button {
  width: 18%;
  background-color: #2F80ED;
  border: 0px;
  border-radius: 12px;
  color: #fff;
}

main .item {
  display: flex;
  align-items: center;
  width: 100%;
}

main .item span {
  margin-left: 0.5rem;
}

.horizontal-line {
  position: absolute;
  top: 52%;
  width: 100%;
}

.active {
  border-bottom: 4px solid #2F80ED;
}